@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="header" class="display-4" onmouseover="newColor()" onmouseout="oldColor()">Here's one of my favorite Music Videos!</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1JNmz17gnMw?si=qiBgdZmUqRCmdQWi" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <p>Check me out <a href="https://kdrank.github.io">on my GitHub</a>!</p>
</div>
